.bgmessage {
   

    background: #6472baa5;; 
  
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
      backdrop-filter: blur(10px); /* Frosted-glass blur effect */
      -webkit-backdrop-filter: blur(10px);
      /* For Safari support */
     
  }